development:
  unique_cookie_key_postfix: <%= config.gitlab.rails.session_store.unique_cookie_key_postfix %>
  cookie_key: "<%= config.gitlab.rails.session_store.cookie_key %>"
  session_cookie_token_prefix: "<%= config.gitlab.rails.session_store.session_cookie_token_prefix %>"
